@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.max-w-screen-3xl {
    max-width: 1920px;
}

.shadow-bottom {
    box-shadow: 0 5px 5px -5px #333;
}

.shadow-bottomDark {
    box-shadow: 0 5px 5px -5px #fff;
}

.text-10xl {
    font-size: 14rem;
}
.content-inside {
    min-height: calc(100vh - 64px - 210px - 128px);
}


@layer utilities {
    .heightAdjustScreen {
        height: calc(100vh - 72px);
    }
}

@layer base {
    body,nav{
        @apply bg-backgroundColorTest;
        @apply dark:bg-grayLight;
    }
}